[GoogleOAuth2]
Key: 276449111390-aoffl8q8j0md1593bni3imjl031skmoe.apps.googleusercontent.com
Secret: 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

[Django]
Secret=django-insecure-x3j%%@n6(hn^t*^33w5fg_(q1q$*c-vinogij#4-40yu*5v7h!y
